body{
    margin: 10;
    padding: 0;
    background: rgb(2,0,36);
    background: cornflowerblue
}

h1{
    color: white;
    margin-left: 40.5%;
}

header{
    position: relative;
    align-items: center;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}